<suite name="MultiBrowserSuite" parallel="none" >
<!--
    <test name="TestFirefox">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="testcases.TrialTestClass"></class>
            <class name="testcases.TrialSecondClass"></class>
        </classes>
    </test>
-->
    <test name="TestChrome">
        <parameter name="browser" value="Chrome"/>
        <classes>
       <!--     <class name="testcases.CoretfielSearch"></class>
            <class name = "testcases.AddAnItemToBasket"></class>
            <class name ="testcases.CreateNewOrdee"></class>
            <class name="testcases.AddAnItemToBasket"></class>  -->
            <class name="testcases.GuestCheckOut"></class>

            <!--
           <class name ="testcases.Screenshot"></class>
           <class name="testcases.TrialTestClass"/>
        <class name="testcases.TrialSecondClass"></class> -->
        </classes>
    </test>
</suite>

